h1, h3 {
	text-align: center;
	font-family: "Verdana";
	font-size: 3em;
}

#id-main-text {
	text-align: center;
	background-color: #667788;
	font-size: 24px;
	border-style: solid;
	border-width: 12px;
	border-color: green;
	border-radius: 25px;
	padding: 5px;
	margin: 10px;
}

.cl-text {
	font-size: 110%;
}
body {
	background-color: black;
	background-image: url(../lorem.png);
	background-repeat: repeat-y;
	background-position: center;
	background-attachment: fixed;
	color: white;
	font-family: "Helvetica"
}

nav {
	text-align: center;
	color: green;
}

nav ul {
	list-style: none;
	position: relative;
	float: left;
	margin: 0;
	padding: 5px;
}

nav ul a {
	display: block;
	color: #999;
	text-decoration: none;
	font-weight: 700;
	font-size: 12px;
	font-family: "HelveticaNeue", Helvetica, Verdana;
}

nav ul li {
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
}

nav ul li:hover {
	background: yellow;
}

nav ul ul {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	float: right;
	background: #fff;
	padding: 0
}

nav ul ul li {
	float: none;
	width: 200px
}

nav ul ul a {
	line-height: 120%;
	padding: 10px 15px
}

nav ul ul ul {
	top: 0;
	left: 100%
}

nav ul li:hover > ul {
	display:block
}

a:link {
	text-decoration: none;
	color: hotpink;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;

}

a:active {
	text-decoration: underline;
}